{% extends "CCHGescomBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un produit - {{ parent() }}
{% endblock %}

{% block cchgescom_body %}

    <h2>{{ product.name }}</h2>
    <h3>{{ product.reference }}</h3>
    <i>Crée le {{ product.creationDate|date('d/m/Y') }} à {{ product.creationDate|date('m:s') }}.</i>

    <div class="well">
        {{ product.priceWithoutTaxes }}
        {{ product.quantity }}
    </div>

    <p>
        <a href="{{ path('cch_gescom_product_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('cch_gescom_product_edit', {'id': product.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier le produit
        </a>
        <a href="{{ path('cch_gescom_product_delete', {'id': product.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer le produit
        </a>
    </p>

{% endblock %}